<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<header>
    <div class="ui massive menu">
        <div class="item">
            <i class="video camera icon"></i>
            Show Me What You Got
        </div>
        <a class="item" th:href="@{/}">
            Home
        </a>
        <a class="item" th:href="@{/add-stars}">
            Add Star
        </a>
        <a class="item" th:href="@{/stars-list}">
            Star's List
        </a>
        <a class="item" th:href="@{/stars-rank}">
            Star's Rank
        </a>
    </div>
    <div class="ui divider"></div>
</header>

</body>
</html>